body
{
    background-color: gainsboro;
}
  
img
{
         border-color: black;
         border-width: 3px;
         margin-right: 30px;
         margin-left: 180px;
         margin-top: 100px;
         border-style: dashed;
         padding: 30px;
}

