<!DOCTYPE html>
<html>
<head>
<title>Lab 9 - SRT621 </title>
<link rel="stylesheet" href="css/css1.css">
</head>
<body>
   <div>  <a href="images/1.png " ><img src="images/1.png "  width="150" height="150" /></a></div1>
   <div1>  <a href="images/2.png"><img src="images/2.png"  width="150" height="150" /></a></div2>
   <div2>  <a href="images/3.png"><img src="images/3.png"  width="150" height="150" /></a></div3>
   
    <div3> <img src="images/4.png"  width="150" height="150" /></a></div4>
   <div4> <img src="images/5.png"  width="150" height="150" /></a></div5>
   <div5><img src="images/6.png"  width="150" height="150" /></a></div6>
</body>
</html>
