<html>
    <body>

        <h1>
            Books Of Library  
        </h1>

        <fieldset>
            <p>
                <b>Website Navigation Pane </b>
            </p>
    
            <ul>
                
                <li><a href="home.html">HomePage</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="survey.html">Survey</a></li>
    
            </ul>
        </fieldset>

        <p><img src="chemistry.jpg" alt="chemistry book Image "  width="250" height="250" />
            <a href="chemistry.html">Organic Chemistry book</a>
        </p>



        <p><img src="physics.jpg" alt="physics book Image "  width="250" height="250" />
            <a href="physics.html">physics book</a>
        </p>



        <p><img src="msths.jpg" alt="maths book Image "  width="250" height="250" />
            <a href="maths.html">maths book</a>
        </p>
        



        
    </body>
</html>