<html>
    <body>

        <h1>
            Organic Chemistry Book
        </h1>


        <p><img src="chemistry.jpg" alt="chemistry book Image "  width="250" height="250" /> 
        
        This is organic chemistry book which contains all the organic concepts of chemistry covered in details | Author :OP Tondon
        </p>
        
        
        <fieldset>
            <p>
                <b>Website Navigation Pane </b>
            </p>
    
            <ul>
                
                <li><a href="home.html">HomePage</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="survey.html">Survey</a></li>
    
            </ul>
        </fieldset>

        
    </body>
</html>