<html>
    <body>

        <h1>
            Welcome To MoBasery Library (srt621-lab1)
        </h1>

        <p>
        Below Options Can be Used to Navigate through Library's Website 
        </p>

        <fieldset>
            <p>
                <b>Website Navigation Pane </b>
            </p>
    
            <ul>
                
                <li><a href="home.html">HomePage</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="survey.html">Survey</a></li>
    
            </ul>
        </fieldset>
<br>
        <img src="library.jpg" alt="library Image "  width="450" height="450" />

    </body>
</html>