<html>
    <body>

        <h1>
            maths Book
        </h1>


        <p><img src="msths.jpg" alt="maths book Image "  width="250" height="250" /> 
        
        This is MATHS book which contains all the  concepts of MATHS covered in details |
        <bold>Author: Graham Lawer</bold>
        </p>
        
        <fieldset>
        <p>
            <b>Website Navigation Pane </b>
        </p>

        <ul>
            
            <li><a href="home.html">HomePage</a></li>
            <li><a href="books.html">Books</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="survey.html">Survey</a></li>

        </ul>
    </fieldset>
        
    </body>
</html>