<html>
<body>
<h1>Survey Page</h1>   
<form action="">

    <label for="Name">Name:</label>
    <input type="text" name="Name" id="">
    <br>
    <br>
    <label for="Dob">Date of Birth:</label>
    <input type="date" name="Date" id="">
    <br>
    <br>
    <label >How likely you will recommend this library to others?</label>
    <input type="radio" name="survey" id="very likely">
    <label for="very likely">very likely</label>

    <input type="radio" name="survey" id="somewhat likely">
    <label for="somewhat likely">somewhat likely</label>

    <input type="radio" name="survey" id="Navigation likely">
    <label for="not likely">not likely</label>

    <br>
    <br>
    <input type="submit" name="submit" id="">
</form>
<nav>  
<fieldset>
        <p>
            <b>Website Navigation Pane </b>
        </p>
    
        <ul>
            
            <li><a href="home.html">HomePage</a></li>
            <li><a href="books.html">Books</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="survey.html">Survey</a></li>
    
        </ul>
    </fieldset>
</nav>  
</body>
</html>